# Just lint deps for pre-commit
#   for use with dependabot
dlint~=0.16.0
flake8-async~=24.11.3
flake8-bandit~=4.1.1
flake8-bugbear~=24.10.31
flake8-comprehensions~=3.16.0
flake8-eradicate~=1.5.0
flake8-noqa~=1.4.0
flake8-pie~=0.16.0
flake8-pytest-style~=2.0.0
flake8-self~=0.2.2
flake8-simplify~=0.21.0
flake8-type-checking~=2.9.1
flake8-typing-imports~=1.16.0
flake8-unused-arguments~=0.0.13
flake8-warnings~=0.4.1
pep8-naming~=0.14.1
